.banner-container {
  grid-row: 1 / 2;
  height: 240px;
  width: 100%;
  max-width: 100%;
  display:grid;
  grid-template-columns: 225px 1fr 100px;
  grid-template-rows: 100px 100px 40px;
  box-sizing: border-box;
}

.image-wrapper{
  grid-area: 1 / 1 / 4 / 2;
}

.image-wrapper > img {
  height: 100%;
  width: 100%;
  /* background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)) */
}

.banner-title {
  grid-area: 1 / 2 / 2 / 3;
  /* border: 1px solid brown; */
  padding: 15px;
}

.banner-title > h1, h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}

.banner-title > h3 {
  margin:0;
  padding:0;
  font-weight:normal;
  font-size: 12px;
  margin-bottom: 7px;
  text-transform: uppercase;
}
.banner-title > h1 {
  margin: 0;
  padding: 0;
  font-weight:800;
  font-size: 32px;
  font-family: 'Open sans', sans-serif;
  
}

.banner-description {
  grid-area: 2 / 2 / 3 / 3;
  margin: auto 0;
  height: 100%;
  width: 100%;
  box-sizing:border-box;
  padding: 15px;
}

.banner-description > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.banner-description > ul > li {
  display:block;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.banner-description > ul > li > a {
  text-decoration: none;
  color: #fff;
}

.banner-description > ul > li > a:hover {
  text-decoration: underline;
}

.information-top-right {
  grid-area: 1 / 3 / 2 / 4;
  /* border:1px solid blue; */
  padding:5px;
  /* text-align: center; */
  /* border: 1px solid blue; */
}

.information-top-right > p {
  margin:0;
  padding: 0;
  font-size: 13px;
  color: #858585;
  display: block;
  width: 100%;
  text-align: right;
  /* border: 1px solid white; */
}

.information-bottom-right {
  grid-area: 2 / 3 / 3 / 4;
  padding: 5px;
  /* border: 1px solid green; */
  text-align:right;
  color: #858585;
  margin: auto 0;
  margin-bottom: 0;
}

.information-bottom-right > p {
  margin: 0;
  padding: 0;
  font-size:13px;
  width: 100%;
  display: block;
  /* border:1px solid blue; */
}
.action-buttons {
  grid-area: 3 / 2 / 4 / 4;
  padding-left: 15px;
  /* width: 100%; */
  /* margin: auto 0; */
  /* border: 1px solid pink; */
  display: flex;
  align-items:center;
}

.action-buttons > h3 {
  display: none;
}

.banner-effect-title {
  height: 100%;
  /* border: 1px solid #fff; */
  margin: auto 0;
}

.action-buttons > button {
  margin-right: 15px;
}

.action-buttons > button:hover {
  cursor: pointer;
}

.action-buttons > button:focus {
  outline: none;
}

.btn-play{
  border-radius: 33px;
  border:none;
  width: 100px;
  height: 30px;
  color: #fff;
  background: #ff6b42;
  font-size: 12px;
  letter-spacing: 2px;
}

.btn-follow {
  background: transparent;
  border: 1px solid white;
  width: 120px;
  height: 30px;
  font-size:12px;
  letter-spacing: 2px;
  border-radius: 33px;
  color:#fff;
}

.btn-unfollow {
  background: transparent;
  border: 1px solid white;
  width: 120px;
  height: 30px;
  font-size:12px;
  letter-spacing: 2px;
  border-radius: 33px;
  color:#ff6b42;
}


.btn-share {
  background: transparent;
  border: 1px solid #fff;
  width: 60px;
  height: 30px;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 33px;
  color: #fff;
}

.btn-edit {
  background: transparent;
  margin: 0 auto;
  margin-right: 0;
  border: 1px solid #fff;
  border-radius: 33px;
  height: 30px;
  width: 40px;
  padding: 0;
}

@media (min-width: 300px) and (max-width: 600px) {
  .banner-container > .information-top-right {
    display:none;
    grid-area:none;
  }
  .banner-container > .information-bottom-right {
    display:none;
  }
  
  .banner-container > .banner-title {
    grid-area: 1 / 2 / 2 / 4;
  }
  
  .banner-container > .banner-description {
    grid-area: 2 / 2 / 3 / 4;
  }
  
}

.div-artist-popularity {
  height: 20px;
  width: 100%;
  display: block;
  text-align: right;
}

.div-pop {
  height: 10px;
  border-right: 2px solid #ff6b42;
  margin-left: 1px;
  display: inline-block;
}

.div-pop-gray {
  height: 10px;
  border-right: 2px solid gray;
  margin-left: 1px;
  display: inline-block;
}

.effect1 {
  grid-area: 3 / 1 / 4 / 4;
  position: fixed;
  width: 50.2vw;
  left: 0;
  right: 0;
  margin: 0 auto;
  top:57px;
  z-index: 999;
  height: 40px;
  border-radius: 0px 0px 10px 10px;
  animation-name: slide-down;
  animation-duration: 1s;
  background: linear-gradient(0deg,#181818, #121212);
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}

.effect1 > h3 {
  margin: 0;
  padding: 0;
  display: none;
  font-size: 16px;
  display: block;
}

@keyframes slide-down {
  from {
    height: 20px;
  }

  to {
    height: 40px;
  }
}




