.banner-container {
  grid-row: 1 / 2;
  width: 100%;
  height: 240px;
  /* border: 1px solid green; */
  display:grid;
  grid-template-columns: 225px 1fr 100px;
  grid-template-rows: 100px 100px 40px;
  box-sizing: border-box;
}

.image-wrapper{
  grid-area: 1 / 1 / 4 / 2;
}

.image-wrapper > img {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5))
}

.banner-title {
  grid-area: 1 / 2 / 2 / 3;
  /* border: 1px solid brown; */
  padding: 15px;
}

.banner-title > h1, h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}

.banner-title > h3 {
  margin:0;
  padding:0;
  font-weight:normal;
  font-size: 12px;
  margin-bottom: 7px;
  text-transform: uppercase;
}
.banner-title > h1 {
  margin: 0;
  padding: 0;
  font-weight:800;
  font-size: 32px;
  font-family: 'Open sans', sans-serif;
  
}

.banner-description {
  grid-area: 2 / 2 / 3 / 3;
  /* border: 1px solid red; */
  margin: auto 0;
  height: 100%;
  width: 100%;
  box-sizing:border-box;
  padding: 15px;
}

.banner-description > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.banner-description > ul > li {
  display:block;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.information-top-right {
  grid-area: 1 / 3 / 2 / 4;
  /* border:1px solid blue; */
  padding:5px;
  display:flex;
  justify-content:center;
  align-items:flex-start;
  /* text-align:left; */
  text-align: center;
}

.information-top-right > p {
  margin:0;
  padding: 0;
  font-size: 13px;
  color: #858585;
  display: inline;
}

.information-bottom-right {
  grid-area: 2 / 3 / 3 / 4;
  padding: 5px;
  /* border: 1px solid green; */
  display:flex;
  justify-content:center;
  align-items: flex-end;
  text-align:center;
  color: #858585;
}

.information-bottom-right > p {
  margin: 0;
  padding: 0;
  font-size:13px;
  display: inline;
  /* border:1px solid blue; */
}
.action-buttons {
  grid-area: 3 / 2 / 4 / 4;
  padding-left: 15px;
  /* margin: auto 0; */
  /* border: 1px solid pink; */
  display: flex;
  flex-flow: row nowrap;
  align-items:flex-end;
  justify-content:flex-start;
}

.action-buttons > button {
  margin-right: 15px;
}

.action-buttons > button:hover {
  cursor: pointer;
}

.btn-play{
  border-radius: 33px;
  border:none;
  width: 100px;
  height: 30px;
  color: #fff;
  background: #ff6b42;
  font-size: 12px;
  letter-spacing: 2px;
}

.btn-follow {
  background: transparent;
  border: 1px solid white;
  width: 120px;
  height: 30px;
  font-size:12px;
  letter-spacing: 2px;
  border-radius: 33px;
  color:#fff;
}

.btn-unfollow {
  background: transparent;
  border: 1px solid white;
  width: 120px;
  height: 30px;
  font-size:12px;
  letter-spacing: 2px;
  border-radius: 33px;
  color:#ff6b42;
}

.btn-share {
  background: transparent;
  border: 1px solid #fff;
  width: 60px;
  height: 30px;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 33px;
  color: #fff;

}

@media (min-width: 300px) and (max-width: 600px) {
  .banner-container > .information-top-right {
    display:none;
    grid-area:none;
  }
  .banner-container > .information-bottom-right {
    display:none;
  }
  
  .banner-container > .banner-title {
    grid-area: 1 / 2 / 2 / 4;
  }
  
  .banner-container > .banner-description {
    grid-area: 2 / 2 / 3 / 4;
  }
  
}


