html, body{
    font-family: proxima-nova, Helvetica, Arial, sans-serif
}

$darkblack: #121212;
$mediumblack: #282828;
$lightblack: #181818;
$thingray: rgba(125, 125, 135, 0.25);
$button-radius: 34px;
$orange: #ff6b42;
$base-color:#03A9F4;