.category-images-list {
    display:flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

.category-image-item {
    height: 325px;
    width: 325px;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    position: relative;

    & > .category-link:focus {
        outline: none;
    }

    &:hover > .category-link > img {
        opacity: 0.5;
    }
    
    & > .category-link > img {
        width: 100%;
        height: 100%;
        transition: all 0.5s ease-in;
    }

    & > .category-link > h3 {
        text-decoration: none;
        position: absolute;
        width: 100%;
        top: 60%;
        left: 0;
        font-size: 14px;
        font-weight: normal;
        color: #fff;

        & > h3 {
            font-size: inherit;
            font-weight: inherit;

        }
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }


}

