.category-banner {
    grid-row: 1 / 2;
    padding: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('https://lh4.ggpht.com/M1XTibfCgpi5pgjSDb7kXDh21N8fpn-8evzQVAX-qGFhSyArDmSuCAv1pjVp4jbAt_g=h900');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 9999;
    /* border:1px solid blue; */

}

.category-banner > h3 {
    position: absolute;
    color:#fff;
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-transform: capitalize;
}