.loginDiv {
    grid-area: 2 / 2 / 5 / 2;
    background: #3a3a3f;
    border-top: 1px solid gray;
    width: 100%;
    /* border: 2px solid green; */

    & > h1 {
        text-align: center;
        color: #fff;
        font-family: Courier New, Courier, monospace, sans-serif;
    }
    & > p {
        text-align: center;
        color: #fff;
        font-family: Courier New, Courier, monospace, sans-serif;
    }
}