.main{
    /* border: 2px solid black; */
    display:grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 257px 1fr 250px;
    grid-template-rows: 57px 225px 1fr 200px 50px;
}

/* @media only screen and (max-width: 1400px) {

    .main > .recent {
        display: none;
    }
    .main > .main-content {
        grid-area: 2 / 2 / 6 / 4;
    }

}

@media only screen and (max-width: 800px) {
    .main > .recent > {
        display:none;
    }

    .main > .sidemenu {
        display: none;
    }

    .main > .main-content {
        grid-area: 2 / 1 / 6 / 4;
    }
} */

* > {
    box-sizing: border-box;
}

/* @media only screen and (min-width: 1000px) {
    .main{
        display:grid;
        
    }
} */
