#modal-root{
    position: relative;
    z-index: 999;
    /* border: 1px solid blue; */
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    height: 400px;
    width: 300px;
    background: #181818;
    position: absolute;
    z-index: 1000;
    margin: auto;
    top:0; bottom:0; left: 0; right: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    color: #858585;
    border-radius: 10px;

    & > h3 {
        font-weight: normal;
        font-size: 16px;
        margin: 0;
        padding: 0;
        color: #fff;
        margin-bottom: 10px;
    }
}


.select-playlist{
    list-style: none;
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    & > li {
        height: 25px;
        display: flex;
        align-items: center;
        
        & > li > input[type=radio] {
            margin-right: 5px;
            border-radius: 0;

            &:focus {
                outline: none;
            }
        }
    }

    & ~ button {
        display: inline;
        background: transparent;
        border: 1px solid white;
        color: #fff;
        margin-right: 10px;
        border-radius: 34px;
        font-size: 12px;
        height: 20px;
        width: 70px;
    }
}


.edit-playlist-form > div {
    margin: 15px 0;
}

.edit-playlist-form > div > label {
    display:block;
    font-size: 13px;
    margin-bottom: 4px;
}

.edit-playlist-form > button {
    width: 80px;
    height: 30px;
    border: none;
    background: #ff6b42;
    color: #fff;
    font-size:12px;
    border-radius: 33px;
}
