#modal-root{
    position: relative;
    z-index: 999;
    /* border: 1px solid blue; */
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
}

.select-playlist {
    height: 400px;
    width: 300px;
    background: #181818;
    position: absolute;
    z-index: 1000;
    margin: auto;
    top:0; bottom:0; left: 0; right: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    color: #858585;
    border-radius: 10px;
}

.select-playlist > h3 {
    font-weight: normal;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #fff;
    margin-bottom: 10px;
    /* border-bottom: 1px solid #fff; */
}

.select-playlist > ul {
    list-style: none;
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.select-playlist > ul > li {
    /* border: 1px solid green; */
    height: 25px;
    display: flex;
    align-items: center;
}

.select-playlist > ul > li > input[type=radio] {
    margin-right: 5px;
    border-radius: 0;
}

.select-playlist > ul > li > input[type=radio]:focus {
    outline: none;
}

.select-playlist > button {
    display: inline;
    background: transparent;
    border: 1px solid white;
    color: #fff;
    margin-right: 10px;
    border-radius: 34px;
    font-size: 12px;
    height: 20px;
    width: 70px;
}


.edit-playlist-form > div {
    margin: 15px 0;
}

.edit-playlist-form > div > label {
    display:block;
    font-size: 13px;
    margin-bottom: 4px;
}

.edit-playlist-form > button {
    width: 80px;
    height: 30px;
    border: none;
    background: #ff6b42;
    color: #fff;
    font-size:12px;
    border-radius: 33px;
}
