
.fa.fa-step-forward {
    font-size: 16px;
}

.fa.fa-step-backward{
    font-size: 16px;
}

.fa.fa-random {
    font-size:16px;
}

.fa.fa.repeat {
    font-size: 16px;
}

.fa{
    color: #cfcfd1;
}

.fa.fa-pause-circle {
    font-size: 32px;
}

.fa.fa-play-circle {
    font-size: 32px;
}


.innerDiv{
    width: 250px;
    height: 100%;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-shrink: 0;
    flex-basis: 0;

    & > button {
        margin: auto 20px;
        padding: 0;
        border: none;
        background: transparent;

        &:hover {
            cursor: pointer;
        }
    }
}

