.faPlay{
    font-size: 32px;
}

.faForward {
    font-size: 16px;
}

.faBackward {
    font-size: 16px;
}

.innerDiv{
    width: 25%;
    /* border:1px solid green; */
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-basis: 0;
}

.innerDiv > svg {
    margin: 0px 15px;
}
