.musicDisplay{
    width:100%;
    border-top: 1px solid rgba(125, 125, 135, 0.25);
    background: #282828;
    grid-area: 5 / 2 / 5 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 7px;
    /* position: relative; */
}

.progress{
    width: 50%;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    box-sizing: border-box;
    /* border:1px solid violet; */
}

.progress > ul {
    padding: 0 3px;
    margin: 0;
    width:100%;
    /* border: 1px solid green; */
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    list-style: none;
    box-sizing: border-box;
    -webkit-margin-before: 7px;
}

.progress > ul > li {
    display:inline;
    font-size:12px;
    color:#fff;
}

.currentVal{
    margin-right: auto;
}

.volume-area{
    width: 25%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid green; */
}

.volume-area > button {
    border: none;
    background: transparent;
    color: #fff;
    width: 45px;
    height: 30px;
    box-sizing:border-box;
    /* border: 1px solid #fff; */
}

.volume-area > button:hover {
    cursor: pointer;
}

.volume-control {
    width: 140px;
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volumeControl > .fa.fa-plus {
    right: 0;
    margin: auto;
    margin-left: 0;
}

.discodiv {
    grid-area: 5 / 3 / 6 / 3;
    background: #282828;
    border-top: 1px solid rgba(125, 125, 135, 0.25);
    max-height: 100%;
    padding: 5px;
    padding-left: 0;
    /* border:1px solid blue; */
}

.volume-control > i {
    color: #cfcfd1;
    font-size: 20px; 
    
    /* display: inline; */
}

.disco{
    width: 100%;
    height: 40px;
    display:block;
    border-top: 0;
}


.volume-control > input[type=range]{
    margin: 0;
    padding: 0;
    margin-left: 5px;
    width:75px;
    display: inline;
    -webkit-appearance: none;
}

.volume-control > input[type=range]::-moz-range-completed{
    background: #000;
    border: none;
    height:5px;
    box-sizing: border-box;
    border-radius: 3px;
}

.volume-control > input[type=range]::-moz-range-thumb{
    border:none;
    height:10px;
    width: 10px;
}

.volume-control > input[type=range]::-moz-range-track{
    background: #ccc;
}

.volume-control > input[type=range]::-moz-focus-outer {
    border: 0;
}

.volume-control > input[type=range]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    background: #ccc;
    height:3px;
}

.volume-control > input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border:none;
    height:14px;
    width: 14px;
    border-radius: 50%;
    background: #ccc;
    margin-top:-5px;
    /* margin-bottom: 10px; */
    /* padding-bottom:10px; */
}

.volume-control > input[type=range]:focus{
    outline: none;
}

/*

Everything below just works for Mozilla, need to add support for IE and Chrome,
Fixed for Chrome?

*/

.progress > input[type=range]{
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none
}

.progress > input[type=range]::-webkit-slider-runnable-track{
    background:#ff6b42;
    border: none;
    border-radius: 3px;
    height:5px;
    box-sizing: border-box;
}

.progress > input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height:16px;
    width:16px;
    border-radius:50%;
    background:#FFA726;
    margin-top: -5px;
}

.progress > input[type=range]:focus{
    outline: none;
}

.progress > input[type=range]:focus::-webkit-slider-runnable-track{
    background: #ccc;
}

.progress > input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ccc;
    outline: none;
}

.progress > input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

.progress > input[type=range]::-moz-range-progress{
    height: 5px;
    background: #ff6b42;
    border: none;
    border-radius: 3px;
    outline: none;
}

.progress > input[type=range]::-moz-focus-outer {
    border: 0;
}

.fa-volume-up:hover {
    cursor: pointer;
}

.dropdown-playing {
    width: 125px;
    bottom: 100%;
    left: 75%;
    background: #181818;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    box-shadow: 0px 8px 4px 0px rgba(0,0,0,0.2);
}

.dropdown-playing > li {
    height: 36px;
    width: 100%;
}

.dropdown-playing > li > button {
    background: transparent;
    border: none;
    /* border:1px solid #fff; */
    color: #fff;
    font-size: 13px;
    height: 100%;
    width: 100%;
    z-index: 1000;
}