.thin-banner {
    height: 50px;
    width: 100%;
    padding: 10px 25px;
    display: flex;
    box-sizing: border-box;
    // display: flex;
    align-items: center;
    text-align: center;
    & > button {
        margin: 0;
        padding: 0;
        // align-self: flex-end;
        margin-left: auto;
        margin-right: 0;
        border-radius: $button-radius;
        background: $orange;
        width: 120px;
        height: 30px;
        border: none;
        color: #fff;

        &:focus {
            outline: none;
        }
    }
}
.new-releases-title {
    color:#fff;
    font-size: 24px;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.new-releases-albums {
    padding-bottom: 15px;
    border-bottom: 1px solid $thingray;

}
