.playlistDiv{
    /* border: 2px solid red; */
    background: #181818; 
    grid-area: 2 / 2 / 5 / 3;
    padding: 25px;
    overflow: auto;
    border-top: 1px solid #7d7d87;
    box-sizing: border-box;
}

.playlistBanner{
    background: #181818;
    grid-area: 2 / 2 / 3 / 3;
    padding: 20px;
    border-top: 1px solid gray;
}

.playlistBanner > img {
    height: 80%;
    width: 20%;
    float:left;
    margin-right: 10px;
    display:block;
    margin-bottom:10px;
}

.playlistBanner > h1 {
    padding:0;
    margin:0;
    text-align: start;
    font-weight: bold;
    float:none;
    /* margin-left: 210px; */
}

.playlistBanner > h3 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    margin-left:20px;
    margin-top: 20px;
    float:none;
    /* margin-left: 210px; */
}

.playlistBanner > h2 {
    clear:left;
    float:none;
    border-bottom: 1px solid #fff;
}


.playlistBanner > * {
    color: #fff;
}

.playlistTracks { 
    grid-area: 3 / 2 / 5 / 3;
    padding: 25px;
    overflow: auto;
    background: #181818;
    box-sizing: border-box;
    /* border:1px solid violet; */
}

