.recent{
    grid-area: 2 / 3 / 5 / 3;
    width:100%;
    padding: 10px;
    background: #121212;
    border-top: 1px solid rgba(125, 125, 135, 0.25);
    box-sizing: border-box;

    & > .latest-played-tracks {
        display:flex;
        flex-flow: column nowrap;
        box-sizing: border-box;
        align-items: flex-start;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        padding: 0;

        & > .latest-played-item {
            height: 80px;
            margin: 10px 0px;
            width: 100%;
            display: flex;
            align-items:center;
            box-sizing: border-box;

            & > img {
                height:80px;
                width: 80px;
                float:left;
                box-sizing: border-box;
            }

            & > ul {
                margin:0;
                padding: 0;
                margin-left: 5px;
                font-size:12px;
                list-style: none;
                color:#cfcfd1;
                box-sizing: border-box;
                display: inline;
                overflow-x: hidden;

                & > li {
                    overflow-x: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    & > .fa.fa-play-circle {
                        font-size: 24px;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
}

.recent > h3 {
    color:#fff;
    font-size:12px;
    margin-bottom: 5px;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 0.5px solid rgba(125, 125, 135, 0.35);
    padding-bottom: 5px;
    box-sizing: border-box;
}

@media only screen and (max-width: 1400px) {

    .recent {
        padding: 0px;
    }
}
