.recent{
    grid-area: 2 / 3 / 5 / 3;
    width:100%;
    height: 100%;
    padding: 10px;
    background: #121212;
    border-top: 1px solid rgba(125, 125, 135, 0.25);
    display:flex;
    flex-flow: column nowrap;
    overflow-y:auto;
    box-sizing: border-box;
}

.recent > h3 {
    color:#fff;
    font-size:12px;
    margin-bottom: 5px;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 0.5px solid rgba(125, 125, 135, 0.35);
}

.recentItem{
    height: 150px;
    margin: 5px 0px;
    width: 100%;
    display: flex;
    align-items:center;

}

.recentItem > img {
    height:80px;
    width: 80px;
    float:left;
}

.recentItem > ul {
    margin:0;
    padding: 0;
    margin-left: 5px;
    font-size:12px;
    list-style: none;
    color:#cfcfd1;
}

.recentItem > img:hover {
    
}
