.sidemenu{
    border-top: 1px solid rgba(125, 125, 135, 0.25);
    grid-area: 2 / 1 / 5 / 2;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: $darkblack;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    /* border-right: 1px solid rgba(125, 125, 135, 0.25); */
}

.sidemenu-title {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    i {
        font-size: 14px;
        margin: 0 auto;
        margin-right: 5px;
        cursor: pointer;
    }

    & > i:hover{
        animation-name: spinning;
        animation-duration: 1s;
    }

    
}

.playlist-sidemnu-title {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}

.playlists-sidemenu{
    max-height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px 0px 5px 0px;
    line-height: 1.25;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;

    & > .side-playlist-item {
        height: 34px;
        position:relative;
        display:block;
        margin:0;
        padding: 0;
        margin:3px 0;
        box-sizing: border-box;
    }

    & > .side-playlist-item > a {
        display:flex;
        height: 34px;
        width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        align-items: center;
        font-size: 12px;
        text-decoration: none;
        box-sizing: border-box;
        padding-left: 5px;
    }

    & > .side-playlist-item > a > span {
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        align-items: center;
        box-sizing: border-box;
    }

    & > .side-playlist-item > a > img {
        margin-right: 5px;
        box-sizing: border-box;
    }

    & > .side-playlist-item > a:focus {
        outline: none;
    }

    & > .side-playlist-item > a > i {
        position: absolute;
        left: 90%;
        font-size:14px;
        display: none;
    }
}

.playlistAvatar{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

.playlist:hover{
    color:#fff;
}


@keyframes spinning {
    100% {
        transform: rotate(360deg)
    }
}
