.main-content-bottom > label {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-size: 13px;
    text-transform: uppercase;

    & > hr {
        display: none;
    }
}

.main-content-bottom > label:hover {
    /* color: #fff; */
    cursor: pointer;
}

.main-content-bottom > input {
    display:none;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display:block;
}

.main-content-bottom > section {
    display: none;
    padding: 10px;
}
.main-content-bottom > input:checked + label {
    color: rgb(123, 123, 123);
    & > hr {
        margin: 0 auto;
        padding: 0;
        display: block;
        width: 35px;
        height: 3px;
        color: $base-color;
        background: $base-color;
        border: 0 none;
    }
}