.main-content-bottom > label {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    /* border: 1px solid transparent; */
    color: #fff;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-size: 13px;
    text-transform: uppercase;
}

.main-content-bottom > label:hover {
    /* color: #fff; */
    cursor: pointer;
}

.main-content-bottom > input {
    display:none;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display:block;
}

.main-content-bottom > section {
    display: none;
    padding: 10px;
    border-top: 0.5px solid rgba(125, 125, 135, 0.25);
}
.main-content-bottom > input:checked + label {
    color: #7b7b7b;
}