.searchDiv{
    background: #181818;
    grid-area: 2 / 2 / 5 / 3;
    padding: 25px;
    overflow: auto;
    border-top: 0.5px solid rgba(125, 125, 135, 0.25);
    box-sizing: border-box;
}

.searchDiv > h3 {
    font-weight: normal;
    color: #cfcfd1;
    border-bottom: 1px solid #fff;
}

.tableHeader{
    color: #cfcfd1;
    border-bottom: 1px solid #7d7d87;
}

.tableHeader > th {
    text-align: left;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #7b7b7b;
}

.table{
    width: 100%;
    background:#181818; 
    table-layout: fixed;
    border-collapse: collapse;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* border:2px solid green; */
}

td {
    padding: 10px 0px;
    /* color: #ffffff; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.track{
    border-bottom: 1px solid rgba(125, 125, 135, 0.25);
}   

.track:hover{
    background:#282828;
}

.table-col-index{
    width: 3.3%;
    min-width: 3.3%;
}

.table-col-title{
    width:30%;
}

.table-col-artist{
    width:30%;
}

.table-col-album{
    width:30%;
}

.table-col-actions{
    width:3.3%;
    min-width: 3.3%;
}

.table-col-time{
    width:3.3%;
    min-width: 3.3%;
}

.albums{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* border:1px solid green; */
    /* height: 100%; */
    /* width: 100%; */
}

.artists{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    
}

.index-col{
    color: #858585;
}

.fa.fa-clock-o{
    font-size: 24px;
}