.tableHeader{
    color: #cfcfd1;
    border-bottom: 1px solid #7d7d87;
}

.tableHeader > th {
    text-align: left;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #7b7b7b;
}

.table{
    width: 100%;
    background:#181818; 
    table-layout: fixed;
    border-collapse: collapse;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* display: inline-block; */
    /* border:2px solid green; */
}

td {
    padding: 10px 0px;
    /* color: #ffffff; */
    /* overflow: hidden; */
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

td > a {
    text-decoration: none;
    color:#fff;
}

td > a:hover {
    text-decoration: underline;
}

.track{
    border-bottom: 1px solid rgba(125, 125, 135, 0.25);
}   

.track:hover{
    background:#282828;
}

.table-col-index{
    width: 3.3%;
    min-width: 3.3%;
}

.table-col-title{
    width:30%;
}

.table-col-artist{
    width:30%;

}

.table-col-album{
    width:20%;

}

.table-col-actions{
    width:13.3%;
    min-width: 13.3%;
}

.table-col-time{
    width:3.3%;
    min-width: 3.3%;
}

.albums{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.artists{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.index-col{
    color: #858585;
}

.fa.fa-clock-o{
    font-size: 24px;
}


.dropdown-action-trackitem > button {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    color: #fff;
}

.dropdown-action-trackitem > button:focus {
    outline: none;
}

.dropdown-trackitem {
    display: none;
    height:150px;
    width: 150px;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background:#282828;
    color: #858585;
    z-index: 30;
    box-shadow: 0px 8px 4px 0px rgba(0,0,0,0.2);
    padding: 3px 7px;
    text-align: center;
    box-sizing: border-box;
}

.dropdown-trackitem > li:nth-child(2) {
    border-bottom: 1px solid rgba(125, 125, 135, 0.25);
}

.dropdown-trackitem > li {
    margin-top: 8px;
}

.dropdown-trackitem > li > a{
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

.dropdown-trackitem > li > a:focus {
    outline: none;
}

.dropdown-trackitem > li:hover {
    background: #858585;
    color: #fff;
}

